<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eici.lifegadgets.dao.HmMenuMainmenuMapper">
  <resultMap id="BaseResultMap" type="com.eici.lifegadgets.model.HmMenuMainmenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="v_out_id" jdbcType="INTEGER" property="vOutId" />
    <result column="sorting" jdbcType="VARCHAR" property="sorting" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
  </resultMap>
</mapper>