<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eici.lifegadgets.dao.SysAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.eici.lifegadgets.model.SysAuthority">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="aut_name" jdbcType="VARCHAR" property="autName" />
    <result column="aut_note" jdbcType="VARCHAR" property="autNote" />
    <result column="aut_url" jdbcType="VARCHAR" property="autUrl" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
  </resultMap>
</mapper>